.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}